<div class="row">
	<%= render template: 'posts/index' %>
</div>	
<div class="row">
	<h1><a name="music">Music</a></h1>
</div>	
<div class="row">
	<%= render './player' %>
</div>
<div class="row">
	<%= render template: 'events/index' %>
</div>
<div class="row">
	<h1><a name="about-us">About Us</a></h1>
	<%= render './about_us' %>
</div>
<div class="row">
	<h1><a name="friends">Friends</a></h1>
	<%= render './friends' %>
</div>