<div class="row"><%= render template: 'posts/index' %></div>

<div class="row"><%= render template: 'tracks/index' %></div>

<div class="row"><%= render template: 'events/index' %></div>

<div class="row"><%= render './about_us' %></div>

<div class="row"><%= render './friends' %></div>

<hr>
<footer class="text-center"><a href="https://github.com/nbdavies/gentle-bronto-redesign">What's under the hood?</a></footer>