<h2 id="shows"><a name="shows">Shows</a></h2>
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active pull-right"><a href="#upcoming" aria-controls="upcoming" role="tab" data-toggle="tab">Upcoming (<%= @upcoming.count %>)</a></li>
  <li role="presentation" class="pull-right"><a href="#past" aria-controls="past" role="tab" data-toggle="tab">Past (<%= @past.count %>)</a></li>
</ul>

  <!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="upcoming">
  	<% @upcoming.each do |event| %>
			<%= render template: 'events/card', locals: {event: event} %>
		<% end %>
  </div>
  <div role="tabpanel" class="tab-pane" id="past">
    <div class="col-md-6">
    	<ul>
	    	<% @past[0..@past.length/2].each do |event| %>
					<%= render template: 'events/show', locals: {event: event} %>
				<% end %>
			</ul>
		</div>
		<div class="col-md-6">
    	<ul>
	    	<% @past[@past.length/2+1..-1].each do |event| %>
					<%= render template: 'events/show', locals: {event: event} %>
				<% end %>
			</ul>
		</div>
  </div>
</div>


