<a href="http://www.facebook.com/<%= event.facebook_id %>">
	<h2><%= event.name %></h2>
</a>
<span><%= event.start_time %></span>
<a href="http://www.google.com/maps/@<%= event.latitude %>,<%= event.longitude %>">
	<span><%= event.location_name %></span>
</a>
