<li>
	<span class="text-muted"><%= event.start_time.strftime("%B %e, %Y") %></span> // <a href="http://www.google.com/maps/place/<%= event.location_address %>/@<%= event.latitude %>,<%= event.longitude %>"><%= event.location_name %></a>
	<p><a href="http://www.facebook.com/<%= event.facebook_id %>"><%= event.name %></a></p>

</li>
