<li>
	<small class="text-muted">
		<%= post.created_at.strftime("%B %e, %Y") %>
	</small>

	<% if post.title %>
		<p>
		<% if post.link_url %>
			<a href="<%= post.link_url %>"><%= post.title %></a>
		<% else %>
			<%= post.title %>
		<% end %>
		<% if post.facebook_id || (post.message.length > 75) %>
			<a href="http://www.facebook.com/<%= post.facebook_id %>" class="badge pull-right">more</a>
		<% end %>
		</p>
	<% else %>

		<% if post.message %>
			<p>
				<%= post.short_message %>
			<% if post.facebook_id || (post.message.length > 75) %>
				<a href="http://www.facebook.com/<%= post.facebook_id %>" class="badge pull-right">more</a>
			<% end %>
			</p>
		<% end %>
	<% end %>
</li>
